@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/Scripts/underscore.min.js"></script>
<script src="~/Scripts/backbone.min.js"></script>

<script type="text/javascript" src="https://github.com/the5fire/backbonejs-learning-note"></script>
<script src="~/Scripts/myjs/test.js"></script>